div#main {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin-left: 50px;
  margin-top: 50px;
}

div#navigation {
  display: flex;
  column-gap: 50px;
}

a:link,a:hover,a:visited,a:active {
  color: #204a87;
  font-weight: bold;
}

div.box1 {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 70% 20%;
}

div.box2 {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: 20% 70%;
}

div.box1 div.foto {
  order: 2;
}

div.box1 div.inhalt {
  order: 1;
}


@media screen and (max-width: 800px) {
  div.box1 {
    display: block;
  }
  div.box2 {
    display: block;
  }
}

div.inhalt {
  border-radius: 25px;
  border-style: solid;
  border-color: #204a87;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

h1 {
  color: #204a87;
  margin-top: 0px;
}

div#lebenslauf_tabelle {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 20% 75%
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 0% 20%;
  border-radius: 50%;
  margin-top: 30px;
}

circle.node {
  stroke: #204a87;
  stroke-width:2px;
  fill: #729fcf;
}

circle#node_end {
  stroke: #ce5c00;
  fill: #fcaf3e;
}

circle.clickable:hover {
  stroke-width:5px;
}

.hidden {
	display: none;
}

line.edge {
  stroke: #204a87;
  stroke-width:2px;
}
